body {
  padding: 1em;
  background-color: #f0f0f0;
}
.exceptionGroup {
  background-color: #f2f6fc;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #6ba6e1;
  border-radius: 5px;
  cursor: pointer;
}
.exceptionGroup .name {
  font-weight: bold;
}
.exceptionGroup .count {
  float: right;
  text-align: right;
  font-size: x-large;
}
.exceptionGroup .time {
  float: right;
}
.exceptionGroup:hover {
  border-color: black;
}
.exceptionGroupFull {
  background-color: #f2f6fc;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6ba6e1;
}
.exceptionGroupFull .exceptionGroupFull .field {
  font-weight: bold;
}
.name {
  font-size: larger;
  font-weight: bold;
}
.field_container {
  margin-top: 10px;
}
.field_container .field {
  font-weight: bold;
}
.exceptionGroupStackTrace {
  border-radius: 5px;
  margin-top: 20px;
  background: #f2f6fc;
  padding: 5px;
  border: 1px solid #6ba6e1;
}
.projectListItem {
  margin-top: 20px;
  background: #f2f6fc;
  padding: 5px;
  border: 1px solid #6ba6e1;
  border-radius: 5px;
  cursor: pointer;
}
.projectListItem .name {
  font-weight: bold;
}
.projectListItem:hover {
  border-color: black;
}
